.add-ticket {
    /* margin-left: auto;
    margin-right: auto; 
    */
    /* margin: 0 auto; */
    margin-left: 1vw;
    width: 90vw;
    /* height: 82vh; */
    /* background-color: aliceblue; */
}

.add-ticket .ticket-board {
    width: 1400px;
    display: flex;
}

.add-ticket h1 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
}

.ticket-board .column-header {
    /* border: 1px solid; */
    margin-top: 1vh;
    display: flex;
    align-items: center;
}

.add-ticket h3 {
    margin-left: 2vw;
}

.add-ticket .column {
    width: 30vw;
    height: 78vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
    /* overflow-y: scroll; */
}

.ticket-board .add-item {
    margin-left: auto;
    margin-right: 2vw;
}

.ticket-board .ticket-column {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 66vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    background-color: azure;
}

.ticket-board .ticket-column::-webkit-scrollbar {
    display: none;
}

/* .add-ticket .body {
    display: block;
} */

/* .add-ticket .body label {
    display: block;
}

.add-ticket .body label span {
    display: inline-block;
    text-align: right;
} */

/* .add-ticket .body input {
    float: right;
} */

/* .add-ticket .body label {
    display: inline-block;
    text-align: right;
} */


.add-ticket .add-ticket-button {
    margin-top: 2vh;
    margin-left: 1vw;
}

.ticket-column .ticket {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    /* padding-right: 1vw; */
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* width: 16vw; */
    width: 260px;
    /* height: 150px; */
    background-color: whitesmoke;
    /* cursor: move; */
}

.ticket-column .ticket .ticket-header {
    display: flex;
    align-items: center;
}

.ticket-column .ticket .ticket-body {
    /* display: flex; */
    /* height: 100px; */
    align-items: center;
}

.ticket-column .ticket .edit-button {
    margin-left: auto;
    margin-right: 1vw;
}
